@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?jmwoa9');
  src:url('../fonts/icomoon.eot?#iefixjmwoa9') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jmwoa9') format('truetype'),
  url('../fonts/icomoon.woff?jmwoa9') format('woff'),
  url('../fonts/icomoon.svg?jmwoa9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-logo:before {
  content: ' ';
  background-image: url('../img/logo.png');
  width: 80px;
  height: 35px;
  display: block;
  background-size: cover;
}
.icon2-camera:before {
  content: "\e601";
}
