input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: #fff;
  color: #999;
}

form, .formly {

  .placeholder-icon:first-child {
    position: absolute;
    right: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 30px;
  }

  .input-select {
    background-color: #fff;
    background-image: url("../img/icons/arrow_expand.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 20px 20px;
    border: none;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=2);
    color: #909090;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    -webkit-appearance: none;
    margin: 15px 0px;
  }

  i.icon.error {
    color: #ef4e3a;
  }
  input + i.icon.error {
    display: none;
    margin-left: 8px;
  }
  &.ng-submitted input.ng-invalid + i.icon.error {
    display: block;
  }
  .has-error {
    border-left: 3px solid #cc2511 !important;
    border-right: 3px solid #cc2511 !important;
  }
  .has-success {
    border-left: 3px solid #3d8b3d !important;
    border-right: 3px solid #3d8b3d !important;
  }
  &.ng-submitted input.ng-valid + i.icon.error {
    display: none;
  }

  .item {
    border: none;
    border-bottom: 1px solid #eee !important;
    margin-bottom: 1px;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
  }

  .item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px;
    border: none;
    margin-bottom: 1px;
  }

  .item:first-child {
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.item-floating-label {
  display: block;
  background-color: transparent;
  box-shadow: none;
}

//  .button {
//    border-color     : #b2b2b2;
//    background-color : #f8f8f8;
//    color            : #444;
//    position         : relative;
//    display          : inline-block;
//    margin           : 0;
//    padding          : 0 12px;
//    min-width        : 52px;
//    min-height       : 47px;
//    border-width     : 1px;
//    border-style     : solid;
//    border-radius    : 2px;
//    vertical-align   : top;
//    text-align       : center;
//    text-overflow    : ellipsis;
//    font-size        : 16px;
//    line-height      : 42px;
//    cursor           : pointer;
//    }

.button-text {
  background: none;
  border: none;
  color: #FFF;
}

.button-white {
  background-color: #fff;
  color: #000 !important;
  border-width: 0px;
  margin: 0px !important;
}

.icon-vermelho {
  color: red;
}

.icon-verde {
  color: green;
}

.icon-envelope:before {
  background-image: url('../img/icons/email-icon.png');
}

.icon-lock:before {
  background-image: url('../img/icons/password-icon.png');
}

.icon-envelope,
.icon-lock {
  &:before {
    content: ' ';
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    display: block;
    height: 30px;
  }
}

//input[type=text].ng-invalid::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
//  color: #F78C8C;
//  text-indent: 0;
//}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa;
  text-indent: 0;
}
