
.ionic-contrib-blur {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  -webkit-filter: blur(20px);
  opacity: .25;
  z-index: 1;
}

.bar-frosted {
  background-color: #f7f7f7;
}

.platform-android {

  .has-header {
    top: 56px;
  }

  .has-tab {
    ion-header-bar, .bar {
      border: none;
      box-shadow: none;
    }
  }

  .nav-bar-tabs-top, .tabs-bottom {
    .bar.bar-header {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .scroll-content {
      bottom: 50px;
      top: 56px;
    }
  }

  .view-tab {
    .scroll-content {
      top: 93px;
    }
  }

  .bar.bar-header {
    height: 56px;
    // box-shadow : 0px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .bar.bar-header {
    .title {
      left: 0;
      right: 45px;
      line-height: 56px;
      height: 56px;
      display: block;

      .nav-bar-title {
        display: block;
        height: 56px;
        padding: 10px 0;
        img {
          margin-top: 6px;
        }
      }

    }
  }

  .modal {
    .bar.bar-header {
      .button:last-child {
        top: 0;
        right: 0;
        width: 56px;
        height: 56px;
        color: white;
      }
    }
  }
}

.tabs-top .tabs {
  display: none;
}

.bar-dark {

  &.bar.bar-header {
    .buttons, .button:last-child {
      top: 0;
      right: 0;
      width: 44px;
      height: 44px;
      color: white;
    }
  }
}
