<ion-view class="view-login"
          view-title="{{ 'Enter' | translate }}">

    <ion-content padding="false"
                 scroll="false">

        <div class="user-head padding text-center step1">
            <div class="logo2">
                <img src="img/icon.png">
                <span class="icon2-logo"></span>
            </div>

            <h2 class="step2"
                translate>Share your most amazing moments</h2>

            <ion-tabs class="tabs-positive tabs-top">
                <ion-tab title="{{ 'Enter' | translate }}"
                         ui-sref="user-signin"></ion-tab>
                <ion-tab title="{{ 'Register' | translate }}"
                         ui-sref="user-signup"></ion-tab>
            </ion-tabs>
        </div>

        <ion-nav-view class="step3"
                      name="tabLogin"></ion-nav-view>
    </ion-content>
</ion-view>
