<ion-view class="view-login"
          view-title="{{ 'Enter' | translate }}">

    <ion-content padding="false">
        <div class="padding">

            <div class="banner text-center">
                <div class="logo">
                    <img src="img/logo-black.png" alt="Trapp">
                </div>
                <p>Discover your place.</p>
            </div>

            <formly-form model="UserSignin.form"
                         fields="UserSignin.formFields"
                         form="UserSignin.rForm">

                <button class="button-block button-clear button"
                        type="button"
                        ng-disabled="UserSignin.rForm.$invalid"
                        ng-click="UserSignin.submitLogin(UserSignin.rForm, UserSignin.form)" translate>LOG IN</button>
                <button class="button-block button-clear button" ui-sref="user-signup">SIGN UP</button>

                <button recovery-pass
                        class="button button-block button-text">
                    <span translate>Forgot your password?</span>
                </button>

            </formly-form>

            <div class="footer-image">
                <img src="img/camera.png" alt="camera-icon" />
            </div>

            <!-- <div class="line">
                <div class="left"></div>
                <span translate>or</span>

                <div class="right"></div>
            </div>


            <button ng-click="UserSignin.facebook()"
                    class="button button-block button-facebook"><i class="icon ion-social-facebook"></i>
                <span translate>Connect your Facebook</span>
            </button> -->

        </div>
        </div>

    </ion-content>
</ion-view>
