<ion-view class="view-intro">

    <ion-content scroll="false">
        <div class="intro-slider">
            <ion-slide-box active-slide="slideIndex" on-slide-changed="Intro.slideChanged($index)">

                <ion-slide ng-repeat="item in Intro.slides" ng-style="{ 'background-image': 'url({{ item.img }})' }">
                    <div class="content text-left">
                        <div class="logo" ng-if="item.hasLogo">
                            <img src="img/logo.png" alt="Trapp Logo" />
                        </div>
                        <div class="icon" ng-if="!item.hasLogo">
                            <img src="img/camera.png" alt="Trapp Icon" />
                        </div>
                        <p class="slider-heading" ng-if="item.heading" ng-bind-html="item.heading"></p>
                        <div class="padding-horizontal">
                            <p>{{ item.content }}</p>
                            <ul class="padding-horizontal" ng-if="item.features">
                                <li ng-repeat="feature in item.features track by $index">* {{ feature }}</li>
                            </ul><br />
                            <p>{{ item.footer }}</p>
                        </div>
                        <p class="text-center bottom">{{ item.bottom }}</p>
                    </div>
                </ion-slide>

                <ion-slide-pager></ion-slide-pager>

            </ion-slide-box>
        </div>

    </ion-content>
</ion-view>
