<ion-view id="user-signup" view-title="{{ 'Register' | translate }}">

    <ion-content padding="true">

        <div class="banner text-center">
            <div class="logo"><img src="img/signup-logo.png" alt="Trapp"></div>
            <p>Discover your place.</p>
        </div>

        <formly-form model="UserSignup.form"
                     fields="UserSignup.formFields"
                     form="UserSignup.rForm">
                     
            <div class="padding">
                <button class="button button-block button-positive"
                        type="button"
                        ng-disabled="rForm.$invalid"
                        ng-click="UserSignup.submitRegister(UserSignup.rForm, UserSignup.form)"
                        translate>Join
                </button>
                <button class="button button-block button-dark pull-right" ui-sref="user-signin" translate>Cancel</button>
            </div>

        </formly-form>

        <div class="padding">
            <p class="text-center footer-notes">
                Just a quick few to get you started.<br>
                After signing up, you can find friends. <br>
                Take and share images. See places around the globe.
            </p>
            <div class="bottom-icon">
                <img src="img/bottom-icon.png" alt="">
            </div>
        </div>

    </ion-content>
</ion-view>
