<ion-view id="search">

    <ion-tabs class="tabs-top tabs-positive tabs-striped">

        <ion-tab title="Grid" icon="ion-grid" ui-sref="gallery.search.people">
            <ion-nav-view name="tabGrid"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Map" icon="ion-map" ui-sref="gallery.search.map">
            <ion-nav-view name="tabMap"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
