<ion-view cache-view="false"
          class="gallery-profile">

    <ion-nav-buttons side="left">
        <button class="button button-icon"><span class="icon2-logo"></span></button>
    </ion-nav-buttons>

    <ion-nav-title>My Profile</ion-nav-title>

    <ion-nav-buttons side="right">
        <button gallery-settings
                class="button button-icon icon ion-gear-a"></button>
    </ion-nav-buttons>
    <ion-content class="animated fadeIn" overflow-scroll="true">
        <div class="profile-top">
            <div class="row">
                <div class="col-33 text-center padding-vertical">
                    <img class="avatar"
                         user-avatar
                         ng-src="{{ user.src }}" />
                    <span class="user-username">{{ user.name }}</span>
                </div>
                <div class="col col-statics">
                    <div class="row">
                        <div class="col">
                            <gallery-loading loading="loadingPhotos"></gallery-loading>
                            <span ng-if="!loadingPhotos"
                                  class="text-center">{{ user.qtdPhotos  }}</span>

                            <h3 translate>Posts</h3>
                        </div>
                        <div class="col" gallery-followers user="user">
                            <gallery-loading loading="loadingFollowers"></gallery-loading>
                            <span ng-if="!loadingFollowers"
                                  class="text-center">{{ user.qtdFollowers }}</span>

                            <h3 translate>Followers</h3>
                        </div>
                        <div class="col" gallery-following user="user">
                            <gallery-loading loading="loadingFollowing"></gallery-loading>
                            <span ng-if="!loadingFollowing"
                                  class="text-center">{{ user.qtdFollowing  }}</span>

                            <h3 translate>Followings</h3>
                        </div>
                    </div>
                    <div class="row col-edit">
                        <div class="col">
                            <button gallery-profile-edit
                                    class="button ">{{ 'EDIT YOUR PROFILE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="padding">
                <span class="user-username">{{ user.name }}</span>
                <p class="user-status">{{ user.status }}</p>
            </div> -->

        </div>

        <!-- <div class="item item-divider"
             translate>Recent
        </div> -->

        <div class="center-ico step1"
             ng-if="GalleryProfile.empty">
            <i class="icon ion-camera"></i>

            <h1 translate="">No Post</h1>
        </div>


        <div class="profile-view">
            <gallery-loading loading="GalleryProfile.loading"></gallery-loading>
            <gallery-photo-grid gallery="GalleryProfile.data"
                                loading="GalleryProfile.loading"></gallery-photo-grid>
        </div>

    </ion-content>
</ion-view>
