<ion-view class="maps-view">
    <ion-nav-title id="search-tab">
        <button class="button" ui-sref="gallery.search.people">People</button>
        <button class="button active" ui-sref="gallery.search.map">Location</button>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-click="GallerySearchMap.location()" class="button button-icon icon ion-pinpoint"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="map-container">

            <ui-gmap-google-map center="GallerySearchMap.map.center" zoom="GallerySearchMap.map.zoom">

                <ui-gmap-marker coords="GallerySearchMap.user"></ui-gmap-marker>

                <ui-gmap-marker
                    click="GallerySearchMapCtrl.openModal(item)"
                    idKey="item.id"
                    coords="item.coords"
                    icon="item.icon"
                    ng-repeat="item in GallerySearchMap.data">
                </ui-gmap-marker>

            </ui-gmap-google-map>

        </div>
    </ion-content>
</ion-view>
