<ion-view cache-view="false">

    <ion-nav-title id="search-tab">
        <button class="button active" ui-sref="gallery.search.people">People</button>
        <button class="button" ui-sref="gallery.search.map">Location</button>
    </ion-nav-title>

    <ion-content class="gallery-search">

        <div class="list list-inset">
            <label class="item item-input padding">
                <input type="text" class="text-center" placeholder="Search" ng-model="GallerySearchGrid.search" ng-blur="GallerySearchGrid.SearchUser()">
            </label>
        </div>

        <ion-list class="people-list">
            <ion-item class="row" ng-repeat="contact in GallerySearchGrid.contacts track by $index">
                <div class="row" gallery-profile user="contact" profile="{{ contact.id }}">
                    <div class="col-25 contact-img">
                        <img ng-src="{{ contact.get('src') }}" alt="List icons">
                    </div>
                    <div class="col">
                        <div class="contact-info">
                            <strong ng-bind="contact.get('username')"></strong>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="contact-info">{{ contact.get('qtdPhotos') || 0 }} post</div>
                    </div>
                </div>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>
