<ion-modal-view class="modal-profile gallery-profile">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left"
                ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content overflow-scroll="true">

        <ion-list class="people-list">
            <gallery-loading loading="loadingGallery"></gallery-loading>

            <ion-item class="row" ng-repeat="follower in followers track by $index">
                <div class="row">
                    <div class="col-25 contact-img">
                        <img ng-src="{{ follower.src }}" alt="List icons">
                    </div>
                    <div class="col">
                        <div class="contact-info">
                            <strong ng-bind="follower.username"></strong>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-modal-view>
