<div class="list card animated fadeIn"
     ng-repeat="gallery in data ">

    <div class="item item-avatar">
        <img gallery-profile
             user="gallery.user"
             profile="{{gallery.user.id }}"
             ng-src="{{gallery.user.src}}">

        <h2>{{gallery.user.name}}</h2>

        <p>{{ gallery.user.status }}</p>
        <span>{{gallery.created | amDateFormat:'H:mm DD/MM YYYY'}}</span>
        <!-- <span>{{gallery.created | amTimeAgo}}</span> -->
    </div>

    <div class="item item-body"
         ng-click="like = !like">
        <i class="icon"
           ng-if="like"></i> <img cache-src="{{gallery.src}}">
    </div>
    <div class="item item-buttons">
        <div class="row">
            <div class="col col-75">
                <ion-spinner ng-show="gallery.item.likeProgress"></ion-spinner>

                <button gallery-like
                        ng-model="gallery"
                        ng-hide="gallery.item.likeProgress"
                        ng-class="(gallery.item.liked) ? 'ion-ios-heart' : 'ion-ios-heart-outline' "
                        class="button-clear button-icon button-heart"></button>
                <button gallery-comment
                        ng-model="gallery"
                        class="button-clear button-icon ion-ios-chatbubble-outline"></button>
            </div>
            <div class="col text-right padding-top">
                <!-- <button gallery-photo-feedback
                        gallery="{{ gallery.id }}"
                        class="button-clear button-icon ion-android-more-vertical"></button> -->

                <span class="likes"
                      gallery-like
                      gallery="{{ gallery }}">
                      <!-- <i class="icon ion-ios-heart"></i> -->
                    <span ng-hide="gallery.item.likeProgress">{{ gallery.item.qtdLike  }}</span>

                    {{  'Likes' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="padding">

        <!-- <span class="likes"
              gallery-like
              gallery="{{ gallery }}"><i class="icon ion-ios-heart"></i>
            <span ng-hide="gallery.item.likeProgress">{{ gallery.item.qtdLike  }}</span>

            {{  'Likes' | translate }}</span> -->


        <div class="list-comments">
            <div class="comment-item">
                <span class="username">{{ gallery.user.name }}</span>
                <span class="comment">{{ gallery.item.title }}</span>
            </div>
            <div class="comment-item"
                 ng-repeat="item in gallery.comments">
                <span class="username">{{ item.user.name }}</span> <span class="comment">{{ item.text }}</span>
            </div>
        </div>

        <button class="button button-block button-clear button-comment "
                gallery-comment
                ng-model="gallery">{{ 'Add comment' | translate }}
        </button>
    </div>
</div>
