<ion-view view-title="{{ 'Categories' | translate }}" cache-view="false">
    <ion-content id="categories">
        <div class="category-list">
            <div class="row" ng-click="open()">
                <div class="col-25 icon-container">
                    <div class="icon"><img src="img/categories/places.png" alt=""></div>
                </div>
                <div class="col">
                    <h4 class="heading">PLACES</h4>
                    <small>Discover the best locations you want to go.</small>
                </div>
                <div class="col-10"><div class="arrow"><span class="ion-ios-arrow-right"></span></div></div>
            </div>
            <div class="row" ng-click="open()">
                <div class="col-25 icon-container">
                    <div class="icon icon-coffee"><img src="img/categories/coffee.png" alt=""></div>
                </div>
                <div class="col">
                    <h4 class="heading">COFFEE</h4>
                    <small>Check out the best coffee shops where you can find the brightest espresso.</small>
                </div>
                <div class="col-10"><div class="arrow"><span class="ion-ios-arrow-right"></span></div></div>
            </div>
            <div class="row" ng-click="open()">
                <div class="col-25 icon-container">
                    <div class="icon icon-hotel"><img src="img/categories/hotels.png" alt=""></div>
                </div>
                <div class="col">
                    <h4 class="heading">HOTELS</h4>
                    <small>Relax and unwind to the best accomodations to stay and have a good night sleep.</small>
                </div>
                <div class="col-10"><div class="arrow"><span class="ion-ios-arrow-right"></span></div></div>
            </div>
            <div class="row" ng-click="open()">
                <div class="col-25 icon-container">
                    <div class="icon icon-restaurant"><img src="img/categories/restaurants.png" alt=""></div>
                </div>
                <div class="col">
                    <h4 class="heading">Restaurant</h4>
                    <small>Dine in with the best restaurants and enjoy a sumptious feast.</small>
                </div>
                <div class="col-10"><div class="arrow"><span class="ion-ios-arrow-right"></span></div></div>
            </div>
        </div>
    </ion-content>
</ion-view>
