<ion-view>
    <ion-nav-title>
        <span class="icon2-logo"></span>
        Trending
    </ion-nav-title>

    <ion-content overflow-scroll="true">
        <ion-refresher ng-if="!GalleryPopular.loading"
                       on-refresh="loadMore(true)"></ion-refresher>

        <gallery-loading loading="GalleryPopular.loading"></gallery-loading>

        <gallery-photo-grid gallery="GalleryPopular.data"
                            loading="GalleryPopular.loading"></gallery-photo-grid>

        <div class="center-ico"
             ng-if="GalleryPopular.empty">
            <i class="icon ion-ios-camera"></i>

            <h1 translate>Nenhuma foto postagem por perto</h1>
        </div>

        <ion-infinite-scroll ng-if="!GalleryPopular.loadMore&&GalleryPopular.more"
                             on-infinite="loadMore()"></ion-infinite-scroll>

    </ion-content>
</ion-view>
