<ion-modal-view class="modal-comment">
    <ion-header-bar class="bar-dark">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left" ng-click="closeModal()"></button>
        <div class="title">{{ 'Comments' | translate }} ({{ comments.length }})
        </div>
    </ion-header-bar>
    <ion-content>

        <gallery-loading loading="loading" icon="android"></gallery-loading>

        <div class="list step1" ng-show="comments.length">
            <div ng-repeat="item in comments" class="item item-avatar">
                <img ng-src="{{ item.user.src }}" />

                <div class="row">
                    <h2>{{ item.user.name }}</h2>

                    <div>{{ item.text }}</div>
                </div>
                <div class="row">
                    <p>{{ item.created | amTimeAgo }}</p>
                </div>
            </div>
        </div>

        <div class="center-ico step1" ng-show="nocomments">
            <i class="icon ion-ios-chatbubble-outline"></i>

            <h1 translate="">No Comments</h1>
        </div>
    </ion-content>
    <ion-footer class="step2">
        <div class="form">
            <formly-form model="form" fields="formFields" form="rForm">

                <button class="button button-positive" type="button" ng-click="submitComment(rForm, form)">
                    <i class="icon ion-arrow-right-b"></i>
                </button>

            </formly-form>
        </div>
    </ion-footer>
</ion-modal-view>