<ion-view>

    <ion-nav-bar class="bar bar-positive bar-mop" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-dark tabs-photogram tabs-icon-only">

        <ion-tab title="Trending" icon="ion-ios-star-outline" ui-sref="gallery.trending">
            <ion-nav-view name="tabPopular"></ion-nav-view>
        </ion-tab>

        <!--<ion-tab title="Search" icon="ion-search" ui-sref="gallery.search.grid">-->
            <!--<ion-nav-view name="tabSearch"></ion-nav-view>-->
        <!--</ion-tab>-->

        <ion-tab title="Discover" icon="ion-ios-pulse" ui-sref="gallery.discover">
            <ion-nav-view name="tabHome"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Media" icon="ion-camera" class="middle" ui-sref="gallery.capture">
            <ion-nav-view name="tabCapture"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Search" icon="ion-search" ui-sref="gallery.search.people">
            <ion-nav-view name="tabSearch"></ion-nav-view>
        </ion-tab>

        <ion-tab title="My Profile" icon="ion-person" ui-sref="gallery.account">
            <ion-nav-view name="tabProfile"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
