#categories {
  .category-list {
    padding: 0 15px;

    .row {
      background: #EEE;
      margin: 15px 0;
      padding: 10px;
      position: relative;

      .icon-container {
        position: relative;

        .icon {
          width: 55px;
          height: 65px;
          position: absolute;
          margin: auto 5px;
          top: 0;
          bottom: 0;

          &.icon-coffee {
            width: 60px;
          }
          &.icon-hotel {
            width: 30px;
            margin: auto;
            left: -10px;
            right: 0;
          }
          &.icon-restaurant {
            height: 40px;
          }
          img {
            width: 100%;
            position: absolute;
          }
        }
      }
      .heading {
        margin: 0;
      }
      .arrow {
        width: 25px;
        height: 25px;
        margin: auto 10px;
        font-size: 1.8rem;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }
}
