.view-intro {

  .scroll-content {
    // background-image: url('../img/intro1.jpg');
    background-size: cover;
    // background-color: $positive;
    height: 100%;
    color: #fff;
    margin: 0;

    .intro-slider {
      display: block;
      height: 100%;

      button.button {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        z-index: 3;
        padding: 0 20px;
      }

      span.top {
        color: #fff;
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 0;
        margin: 25px 15px;
        top: 20px;

        //  animation
        @include animate(fadeInDown, 1s, .5s);
      }

      p.bottom {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        font-size: 1.8em;
        font-weight: 200
      }

      p.slider-heading {
        border: 1px solid #000;
        font-size: 2.3em;
        padding: 10px;
        text-align: left;
        width: 100%;
        line-height: 1;
        margin-bottom: 20px;
        font-weight: 200;
      }

      .phone {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        @include animate(fadeInUp, 1s, 0.1s);

        img {
          width: 70%;
          display: block;
          margin: 0 auto;

        }
      }

      .slider {
        display: block;
        height: 100%;
        // padding-top: 30px;

        ion-slide {
            background-size: cover;
        }
      }

      .slider-pager, button.button {
        @include animate(fadeInDown, 1s, 0.1s);
      }

      .slider-pager {
        bottom: 45px;
        //  animation

        span.slider-pager-page {
          top: 15px;

          &.active {
            color: #000;
          }
          &:last-child {
            display: none;
          }
        }
      }

      .slider-slide {
         color: #000;

         .content {
            height: 100%;
            padding: 35px 25px;

            .logo {
              width: 140px;
              margin: 0 auto 25px;
            }
            .icon {
              width: 50px;
              margin: auto;
            }
            .icon, .logo {
              img {
                width: 100%;
              }
            }
         }
      }

    }

  }
}

.platform-ios {
  .view-intro {
    // .scroll-content {
    //   padding-top: 20px;
    // }
    .intro-slider {
      .button.button {
        top: 20px;
      }
    }
  }
}
