.photogram {

  //General Resets
  font-family: -apple-system, 'Helvetica Neue', 'Segoe WP', sans-serif !important;
  color: #333;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333;
  }

  //.scroll-content {
  //  background-color: #f1f1f1;
  //}

  .card {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  gallery-photo-grid {

    .row {

      .col {

        height: 150px;
        position: relative;
        overflow: hidden;
        background-color: #f1f1f1;
        border: 2px solid #fff;

        img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 150px;
          min-height: 150px;
        }

      }
    }

  }
  .item {
    border: none;
  }

  // Loading
  .view-loading {
    background-color: $positive;
    background-position: 15%;
    background: url('../img/intro1.jpg');
    background-size: cover;

    .scroll-content {
      height: 100%;
      width: 100%;
      display: block;
      position: relative;

      img {
        display: block;
        position: absolute;
        max-width: 50%;
        min-width: 200px;

        top: 30%;
        left: 50%;
        margin-top: -0px;
        margin-left: -100px;

        @include animate(fadeIn, 1s, 0.1s);
      }
    }
  }

  // View Map
  .map-container {
    min-height: 200px;
    height: 100%;
    width: 100%;
    margin: 0px;
    position: relative;
    display: block;

    .angular-google-map-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #ddd;
    }
  }

  .user-username {
    font-weight: bold;
    color: $positive;
    font-size: 16px;
  }
  .user-status {
    font-weight: normal;
    font-size: 14px;
    color: #333;
  }

  .popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .likes {
    /* font-weight: bold; */
    color: $positive;
  }

  .list {
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    margin-bottom: 15px;

    .card {
      margin: 0;
      border: none;
      box-shadow: none;
      padding: 0
    }

  }

  .item-body {
    padding: 0;
    border: none;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
    height: 100%;

    .round-progress-wrapper {
      display: block;
      position: absolute !important;
      left: 40%;
      top: 37%;
    }
    img {
      width: 100%;
      display: block;
    }
  }

  button.button-comment {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
  }

  .item-buttons {
    padding: 0;
    border-top: none;

    .row {
      padding: 0;
      button {
        font-size: 28px;
        position: relative;
      }

      button.ion-ios-heart {
        color: #a00;
      }

      button:last-child {
        padding-right: 20px;
      }
    }

  }

  .list-comments {

    .comment-item {
      display: block;
      clear: both;

      .username {
        display: block;
        float: left;
        font-weight: bold;
        color: $positive;
        margin-right: 5px;
      }
      .comment {
        display: block;
        float: left;
        font-weight: normal;
        color: #777;
      }

    }

  }

  .nav-bar-title {
    .title {
      left: 0;
      right: 45px;
      line-height: 45px;
      height: 40px;
      display: block;
      margin-left: 0;
      text-align: left;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }

    span.icon2-logo {
      font-size: 34px;
      display: block;
      margin-top: 6px;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }
  }

  .tabs-striped .tabs .tab-item.middle {
    border-radius: 0;
  }

  .item.item-avatar {
    background-color: rgba(255, 255, 255, 0.99);
    border: none;

    img {
      position: absolute;
      top: 17px;
      left: 16px;
      max-width: 45px;
      max-height: 45px;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    h2 {
      /* color: $positive; */
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      display: block;
      float: left;
      font-weight: bold;
      margin-right: 5px;
      margin-top: 4px;
    }

    span {
      top: 33px;
      right: 10px;
      display: block;
      position: absolute;
      color: #ccc;
      line-height: 0;
      font-size: 14px;
    }
    div {
      font-size: 14px;
      line-height: 20px;
    }

    p {
      font-size: 12px;
      text-align: left;
      display: block;
      width: 100%;
    }
  }

  // Modal Comment Directive
  .modal-comment {

    .scroll {
      height: 100%;
    }

    .form {
      border: 1px solid #ccc;
      padding: 1px;
      display: block;
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      height: 50px;

      label.item.item-input {
        display: block;
        float: left;
        width: 88%;
        border: none;
      }
      button {
        padding: 7px;
        height: 50px;
        top: -1px;
        position: absolute;
        right: -1px;
        border: none;
      }
      form .item, .formly .item {
        border-bottom: none;
      }
    }

  }

  .tab-item {
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    background-color: $positive;
    color: #000;
    opacity: 1;
  }

  .tabs-light {
    background: #fff;
  }

  .bar-positive {
    border-bottom: 0px;
  }
  ion-tabs.tabs-dark.tabs-photogram {

    &.tabs-bottom {
      .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
        color: #FFF;

        .tabs-icon-only {
          .tabs .icon {
            line-height: 1.2;
            font-size: 25px;
          }
          .tabs {
            .tab-title {
              line-height: 0.5;
              display: block;
            }
          }
        }
      }
    }

    .tabs-top {
      .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
        background: none;
        border-bottom: 5px solid #fff;
      }
    }
  }

  // Capture View
  .modal-capture {
    .capture-legend {
      padding: 0;

      .item-input {
        border: none;
        display: block;
        top: 20px;
      }
    }
    .capture-photo {
      img {
        display: block;
        width: 100%;
      }
    }
  }

  // Profile View
  .gallery-profile {

    .scroll-content {
      background-color: #fff;
    }
    .profile-top {
      background: #EEE;
      display: block;
      position: relative;

      img {
        display: inline;
        min-width: 85px;
        min-height: 85px;
        max-width: 85px;
        border-radius: 50%;
        margin: 6px;
        background-color: #ddd;
      }

      .col-statics {
        margin-left: 5px;
        span {
          font-weight: bold;
          color: #000;
          display: block;
          text-align: center;
          font-size: 20px;
        }
        h3 {
          font-size: 14px;
          color: #888;
          margin: 5px 0px;
          display: block;
          font-variant: small-caps;
          text-align: center;
          text-transform: lowercase;
          white-space: nowrap;
        }
      }

      .col-edit {
        padding: 0;
        .button {
          font-size: 14px;
          padding: 0px;
          background: #CACACA;
          border: none;
          color: #53575c;
          text-transform: uppercase;
          width: 97%;
          line-height: 10px;
          min-height: 45px;
          max-height: 10px;
          font-weight: bold;
          margin: 0 auto;
          display: block;

          &.button-follow {
            border: 1px solid $positive;
            background-color: #fff;
            span {
              color: $positive;
              font-size: 14px;
            }

          }

          &.button-unfollow {
            border: 1px solid $positive;
            background-color: $positive;
            span {
              color: #fff;
              font-size: 14px;
            }
          }

        }
      }

      .tabs-light {
        background: #fff;
        height: 50px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        display: block;
        position: inherit;

        .tab-nav.tabs {
          .tab-item {
            -webkit-transform: all .5s ease;
            -moz-transform: all .5s ease;
            -ms-transform: all .5s ease;
            -o-transform: all .5s ease;
            transform: all .5s ease;
          }

          .tab-item.tab-item-active, .instagram ion-tabs.tabs-dark.tabs-photogram .tab-item.active, .instagram ion-tabs.tabs-dark.tabs-photogram .tab-item.activated {
            background-color: #fff;
            border: none;
            color: $positive;
          }
        }

      }

    }

    .profile-view {
      display: block;
      overflow: hidden;

      .row {
        padding: 0;
        .col {
          padding: 2px;
          margin: 0;
        }
      }
    }
  }

  $colZize: 150px;
  // Search View
  .gallery-search {

    .item-input {
      background: #EEE;

      input {
        background: #FFF;
        border-radius: 5px;
      }
    }
    .row {

      .col {

        background-color: #fff;
        margin: 4px 2px;
        width: $colZize;
        height: $colZize;
        overflow: hidden;
        img {
          min-height: $colZize;

        }
      }
    }
  }

  .gallery-userlist, .gallery-activity {

    .item {
      border-bottom: 1px solid #ddd;
      margin-bottom: 1px;

      &.item-button-right {
        button.button {
          top: 25%;
          border: none;
          &.button-stable {
            color: $positive;
          }
          i {
            font-size: 12px;
          }
        }
      }

      &.item-avatar {

        h2 {
          line-height: 11px;
          font-size: 14px;
        }

        .text {
          font-size: 11px;
        }

        .img-right {
          float: right;
          display: block;
          position: absolute;
          right: 20px;
          top: 0;
          width: 70px;
          height: 76px;
          img {
            border-radius: 0;
            max-width: 70px;
            max-height: 70px;
            top: 5px;
          }
        }
      }

    }

  }

  .item-divider {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #ddd;
    color: $dark;
    text-transform: uppercase;
  }

  .center-ico {

    i {
      color: #ccc;
      font-size: 150pt;
      display: block;
      text-align: center;
    }

    h1 {
      font-size: 18px;
      display: block;
      text-align: center;
      color: #ddd;
    }

  }

}

#search-tab.nav-bar-title {
  margin: auto;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .button {
    width: 85px;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: -5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.active {
      color: $positive;
      background: #FFF;
    }
  }
}

.img-responsive {
  img {
    width: 100%;
  }
}
