#search {
  .people-list {
    ion-item {
      height: 100px;
      margin: 20px 0;

      .col {
        height: auto;
      }
      .contact-info {
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 25px;
      }
      .contact-img {
        position: relative;
        overflow: hidden;
        border-radius: 100px;

        img {
          width: 95px;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
