#user-signup {

  background: #dfdfdf;

  .banner {
    border: none;
  }
  .button {
    margin-top: 10px;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
  }

  .footer-notes {
    color: #2f9a39;
    margin: auto;
    width: 79%;
  }

  .bottom-icon {
    width: 45px;
    margin: 25px auto 0;

    img {
      width: 100%;
    }
  }

  .formly .item {
    margin: 10px 0;
    color: #FFF;
    border-radius: 5px;
  }

}

.pull-right {
  float: right;
}
